@model Final.Models.Distrito

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Desea eliminar estos campos?</h3>
<div>
    <h4>Distrito</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_distrito)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="codigo_distrito" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a listar</a>
    </form>
</div>
